body{
    width: 60%;
    margin: auto;
}
form{
    display: grid;
    grid-template-columns:50% 50%;
    border: solid 2px;
    border-color: black;
    padding: 10px;
}

h1{
    color: #8c5cf4;
}

label{
    margin-bottom: 5%;
}

input{
    margin-bottom: 5%;
}

div{
    display: grid;
    grid-template-rows: 50% 50%;
}

label:first-child{
    margin: auto;
    padding: 10px;
}
