.mainpage {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(255, 255, 255);
  min-width: 400px;
}

.reframe {
  padding: 1px;
  background-color: rgb(133, 147, 207);
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  padding: 1px;
  background-color: rgba(133, 147, 207, 0.5);
}

a {
  margin: 10px;
  font-weight: bold;
  text-decoration: none;
  color: rgba(83, 90, 187, 0.726);
}

a:hover {
  text-decoration: underline;
}

.prenom-nom {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.tag {
  font-size: 16px;
  color: gray;
  margin-left: 10px;
}
