.mainpage {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(255, 255, 255);
  min-width: 400px;
}

header {
  padding: 1px;
}

.reframe {
  padding: 1px;
  background-color: rgb(133, 147, 207);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  width: 23%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 38%;
}

.logo img {
  max-width: 100%;
  display: block;
}

.navigation {
  background-color: #a5a5ee86;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}

.navigation .nav-link {
  color: #ffffff;
  margin: 0 1rem;
  font-weight: bold;
}

.navigation .nav-link:hover {
  color: #fff;
  text-decoration: none;
}

.navigation .active {
  color: #fff;
}

a {
  margin: 10px;
  font-weight: bold;
  text-decoration: none;
  color: rgba(83, 90, 187, 0.726);
}

a:hover {
  text-decoration: underline;
}

.prenom-nom {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.tag {
  font-size: 16px;
  color: gray;
  margin-left: 10px;
}
